{% extends 'partials/layout.njk' %}

{% block content %}
    <p><b>page:</b>{{ page }}</p>
    <p><b>order:</b>{{ order }}</p>
    <p><b>name:</b>{{ name }}</p>
    <p><b>age:</b>{{ age }}</p>
{% endblock %}